extends layout

block content
    h1= title
    a(href="/auth") Authenticate your user
    div#spacer
      div#loader-container
        div#loader-box
          div#loader 
        div#loader-text Loading Title and Artist
    div.clear
      form(action='/signup',method='post')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='link') link: 
            input(id='link',type='text',value='',placeholder='ex: https://www.youtube.com/mylink',name='link')
        div#artistdiv(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='artist') artist: 
            input(id='artist-input',type='text',value='',name='artist')
        div(id='title',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='title') title: 
            input(id='title-input',type='text',value='',name='title')
        div(data-role='fieldcontain')
          input(type='submit',value='Transfer Song',data-transition='fade', data-theme='c')

    script.
      var formLink = document.getElementById("link");
      var val = "";
      formLink.addEventListener('input', function(event) {
        if (val != this.value) {
          val = this.value
          var match = val.search(/[0-9A-Za-z]{11}/g);
          if (match != -1) {
            getMetaData(val);
          }
        }
      });
      
      function getMetaData(link) {
        var loader = document.getElementById("loader-container");
        loader.style.opacity = 1;
        
        var encodedLink = encodeURIComponent(link);
        var request = new XMLHttpRequest();
        
        request.onreadystatechange = function(response) {
          if (this.readyState == 4 && this.status == 200) {
            // console.log("title is: "+this.responseText);
            var title = this.responseText;
            var info = title.split(" - ");
            document.getElementById("artist-input").value = info[0];
            document.getElementById("title-input").value = info[1];
            loader.style.opacity = 0;
          } 
        };
        
        request.open('GET', '/metadata/'+encodedLink);
        request.send();
        
      }