extends layout

block content
    h1= title
    a(href="/auth") Authenticate your user
    div#spacer
      div#loader-container
        div#loader-box
          div#loader 
        div#loader-text Loading Title and Artist
    div.clear
      form(action='/signup',method='post')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='link') link: 
            input(id='link',type='text',value='',placeholder='ex: https://www.youtube.com/mylink',name='link')
        div#artistdiv(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='artist') artist: 
            input(id='artist-input',type='text',value='',name='artist')
        div(id='title',data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='title') title: 
            input(id='title-input',type='text',value='',name='title')
        div(data-role='fieldcontain')
          input(type='submit',value='Transfer Song',data-transition='fade', data-theme='c')
    div(data-role='fieldcontain', id="swapper")
        input(type='submit',value='Swap Artitst / Title',data-transition='fade', data-theme='c')
    script(rel='client_javascript', src="/client_javascript/title_parser.js")
    script(rel='client_javascript', src="/client_javascript/swap_text.js")
    script.
        updateMetadata();
        setup_swapper();

